.header {
    padding-top: 45px;
    padding-bottom: 41px;
    display: flex;
    align-items: center;
    width: 100%;
}

.header__logo {
    padding-bottom: 41px;
}

@media screen and (max-width: 320px) {
    .header {
        margin: 0 auto;
        padding: 0;
    }
    .header__image {
        margin: 28px 0 32px 27px;
        height: 24px;
        width: 126px;
    }
}
