.header {
    padding-top: 45px;
    padding-bottom: 41px;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.header__logo {
    padding-bottom: 41px;
}

@media screen and (max-width: 320px) {
    .header {
        justify-content: center;
        padding: 20px 0;
    }
    .header__logo {
        padding-bottom: 0;
        margin: 0 auto;
        width: 100px;
    }
}
